<div class="row">
	<div class="col-md-4">
		<img src="/images/UR.4col.v3.png" alt="University of Rochester" height="24">
	</div>
    <div class="col-md-8">
        <p class = "reg-text1" style = "font-size:13px; vertical-align:top;float:right">Copyright &copy; 2016 University of Rochester</p>
    </div>
</div>