<div style="text-align: center; padding: 2rem; display: inline-flex; height: 400px; width: 400px; border: 1px solid black;">
	<div style="width: 99%; margin: auto 2rem;">
		<img src="images/zoom-3.jpg" alt="Zoom Logo" width="90"/>

		<h2>The Zoom Tutorial</h2>
		<h3>Module 1: Joining a Meeting</h3>
		<p>version 1.0</p>
		
		<p>by Luba Le Xuan</p>
		<p>University of Rochester Medical Center<br>Psychiatry Audiovisual Services </p>

		<p>&copy; 2016 University of Rochester<br>
		<img src="images/UR.4col.v3.png" alt="University of Rochester Logo" width="200" />
		</p>
	</div>
</div>
