<!DOCTYPE html>
<html lang="en">

<head>
    <%include partials/head.ejs%>  
</head>
<body id = "about-body">
   <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <%include partials/navbar/homenavbar.ejs%>
    </nav>  
	<div id = "about-container">
		<img src="images/aboutzoom.png" alt="Zoom Logo" width="90"/>
		<h2 class = "mid-header3" style = "color:black;font-size:24px;">The Zoom Tutorial</h2>
		<p class = "reg-text3">version 1.0</p>
		<p class = "reg-text3">by Luba Le Xuan</p>
		<p class = "reg-text3">University of Rochester Medical Center<br>Psychiatry Audiovisual Services </p>

		<p class = "reg-text3">&copy; 2016 University of Rochester</p><br>
		<img src="images/aboutur.png" alt="University of Rochester Logo" width="200" />
		<footer>
		    <% include partials/footer.ejs%>
		</footer>

	</div>
</body>
    <!-- Footer -->
</body>

</html>