<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Content</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../css/bootstrap.min.css" rel="stylesheet">   
    <!-- Custom CSS -->
    <link href="../../css/one-page-wonder.css" rel="stylesheet">
    <link href = "../../css/stylesheets.css" rel = "stylesheet">
</head>

<body>

    <!-- Navigation -->
    <nav class="content navbar navbar-inverse navbar-fixed-top" role="navigation">
        <%include partials/navbar/navbar.ejs%>
    </nav>  
    
    <!-- Full Width Image Header -->
    <header class = "content header-image">
            <div class="headline">
            <div class="container">

            </div>
        </div>
    </header>
    <div class = contentsection-container>
    <!-- pass in a section variable from routes to include a right section -->
    <% if (sectionNum == 1) {%>
        <% include partials/content/content_text1.ejs%>
    <% }%>
    <% if (sectionNum == 2) {%>
        <% include partials/content/content_text2.ejs%>
    <% }%>
    <% if (sectionNum == 3) {%>
        <% include partials/content/content_text3.ejs%>
    <% }%>
    <% if (sectionNum == 4) {%>
        <% include partials/content/content_text4.ejs%>
    <% }%>
    <% if (sectionNum == 5) {%>
        <% include partials/content/content_text5.ejs%>
     <% }%>
    <% if (sectionNum == 6) {%>
        <% include partials/content/content_text6.ejs%>
    <% }%>
    <% if (sectionNum == 7) {%>
        <% include partials/content/content_text7.ejs%>
    <% }%>
    <% if (sectionNum == 10) {%>
        <% include partials/content/content_text10.ejs%>
    <% }%>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Your Website 2014</p>
            </div>
        </div>
    </footer>

    </div>
    <!-- /.container -->

    </div>
    
    <!-- jQuery -->
    <script src="../../js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="../../js/bootstrap.min.js"></script>
    <!-- TODO should I put that in separate script? -->
    <script src = "../../js/func.js">
    </script>

</body>

</html>
