<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Content</title>
    <!-- Bootstrap Core CSS -->
    <link href="../../css/bootstrap.min.css" rel="stylesheet">   
    <!-- Custom CSS -->
    <link href="../../css/one-page-wonder.css" rel="stylesheet">
    <link href = "../../css/stylesheets.css" rel = "stylesheet">
    <link href = "../../css/course-style.css" rel = "stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Assistant:200|Dosis|Josefin+Sans:300|Megrim|Poppins:500|Raleway|VT323" rel="stylesheet">
</head>

<body>
    <!-- Navigation -->
    <nav class="content navbar navbar-inverse navbar-fixed-top" role="navigation">
        <%include partials/navbar/navbar.ejs%>
    </nav>  
    
       
    <!-- pass in a section variable from routes to include a right section -->
    <% if (sectionNum == 1) {%>
        <% include partials/content/text0.ejs%>
    <% }%>
    <% if (sectionNum == 2) {%>
        <% include partials/content/text1.ejs%>
    <% }%>
    <% if (sectionNum == 3) {%>
        <% include partials/content/text2.ejs%>
    <% }%>
    <% if (sectionNum == 4) {%>
        <% include partials/content/text3.ejs%>
    <% }%>
    <% if (sectionNum == 5) {%>
        <% include partials/content/text4.ejs%>
     <% }%>
    <% if (sectionNum == 6) {%>
        <% include partials/content/text5.ejs%>
    <% }%>
    <% if (sectionNum == 7) {%>
        <% include partials/content/text6.ejs%>
    <% }%>
    <% if (sectionNum == 10) {%>
        <% include partials/content/text7.ejs%>
    <% }%>

    <!-- Footer -->
   <footer>
        <% include partials/footer.ejs%>
    </footer>
    
    <!-- jQuery -->
    <script src="../../js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="../../js/bootstrap.min.js"></script>
    <!-- TODO should I put that in separate script? -->
    <script src = "../../js/func.js">
    </script>

</body>

</html>
