<!DOCTYPE html>
<html lang="en">

<head>
    <%include partials/head.ejs%>  
</head>

<body id = "content-body">

    <!-- Navigation -->
    <nav class="content navbar navbar-inverse navbar-fixed-top" role="navigation"><%include partials/navbar/navbar.ejs%>
    </nav>  
    
    <!-- Full Width Image Header -->
    <header class = "content header-image">
            <div class="headline">
            <div class="container">
                <h1>Content</h1>  
            </div>
        </div>
    </header>
    <div class = "content-container">
            <!-- CONTENT 1 -->
            <li class="list-group-item content-div">
                <a href = "/contentsection/1/" class = "buttonlink">Download and Install</a>
            </li>

            <!-- CONTENT 2-->
            <li class="list-group-item content-div">
                <a href = "/contentsection/2/" class = "buttonlink">Steps for a Successful Meeting</a>                  
            </li>

            <!-- CONTENT 3 -->
            <li class="list-group-item content-div">
                <a href = "/contentsection/3/" class = "buttonlink">Join Meeting</a> 
            </li>

            <!-- CONTENT 4 -->
            <li class="list-group-item content-div">
                <a href = "/contentsection/4/" class = "buttonlink">Settings</a>
            </li>
            <!-- CONTENT 5 -->
            <li class="list-group-item content-div">
                <a href = "/contentsection/5/" class = "buttonlink">Join with Telephone</a>
            </li>
            <!-- CONTENT 6 -->
            <li class="list-group-item content-div">
                <a href = "/contentsection/6/" class = "buttonlink">During Meeting</a> 
            </li>

            <!-- CONTENT 7 -->
            <li class="list-group-item content-div">
                <a href = "/contentsection/7/" class = "buttonlink">Troubleshooting</a>
            </li>

             <!-- CONTENT 10 -->
            <li class="list-group-item content-div">
                <a href = "/contentsection/10/" class = "buttonlink">Course Completion</a>
            </li>
    </div>
    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Your Website 2014</p>
            </div>
        </div>
    </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <!-- TODO should I put that in separate script? -->
    <script src = "js/func.js">
    </script>

</body>

</html>
