<!DOCTYPE html>
<html lang="en">

<head>
    <%include partials/head.ejs%>  
</head>

<body id = "content-body">

    <!-- Navigation -->
    <nav class="content navbar navbar-inverse navbar-fixed-top" role="navigation"><%include partials/navbar/contentnav.ejs%>
    </nav>  
    
    <!-- Full Width Image Header -->
    <header class = "content header-image">
            <div class="headline">
            <div class="container">
                <h1>Content</h1>  
            </div>
        </div>
    </header>
    <div class = "content-container">
            <!-- CONTENT 1 -->
            <li class="list-group-item content-div">
                <form action = "/content" method= "post" id = "content-form1">
                <!-- redirect to content section page -->
                    <button type = "submit" class = "buttonlink" form = "content-form1">Download and Install</button>
                </form>
            </li>

            <!-- CONTENT 2-->
            <li class="list-group-item content-div">
                <form action = "/content1" method= "post">
                    <button type = "submit" class = "buttonlink" form = "">Steps for a Successful Meeting</button>
                </form>
            </li>

            <!-- CONTENT 3 -->
            <li class="list-group-item content-div">
                <form action = "/content1" method= "post">
                    <button type = "submit" class = "buttonlink" form = "">Join Meeting</button>
                </form>
            </li>

            <!-- CONTENT 4 -->
            <li class="list-group-item content-div">
                <form action = "/content1" method= "post">
                    <button type = "submit" class = "buttonlink" form = "">Settings</button>
                </form>
            </li>
            <!-- CONTENT 5 -->
            <li class="list-group-item content-div">
                <form action = "/content1" method= "post">
                    <button type = "submit" class = "buttonlink" form = "">Join with Telephone</button>
                </form>
            </li>
            <!-- CONTENT 6 -->
            <li class="list-group-item content-div">
                <form action = "/content1" method= "post">
                    <button type = "submit" class = "buttonlink" form = ""> During Meeting</button>
                </form>
            </li>

            <!-- CONTENT 7 -->
            <li class="list-group-item content-div">
                <form action = "/content1" method= "post">
                    <button type = "submit" class = "buttonlink" form = "">Troubleshooting</button>
                </form>
            </li>

             <!-- CONTENT 10 -->
            <li class="list-group-item content-div">
                <form action = "/content1" method= "post">
                    <button type = "submit" class = "buttonlink" form = "">Course Completion</button>
                </form>
            </li>
    </div>
    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Your Website 2014</p>
            </div>
        </div>
    </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <!-- TODO should I put that in separate script? -->
    <script src = "js/func.js">
    </script>

</body>

</html>
