<!DOCTYPE html>
<html lang="en">

<head>
    <%include partials/head.ejs%>  
</head>

<body id = "content-body">

    <!-- Navigation -->
    <nav class="content navbar navbar-inverse navbar-fixed-top" role="navigation"><%include partials/navbar/contentnav.ejs%>
    </nav>  
    
    <!-- Full Width Image Header -->
    <header class = "content header-image">
            <div class="headline">
            <div class="container">
                <h1>Content</h1>  
            </div>
        </div>
    </header>
    <div class = "content-container">
            <!-- CONTENT 1 -->
            <li class="list-group-item" id = "content-div1">
                <a href = "/content1">Download and Install</a>
            </li>

            <!-- CONTENT 2-->
            <li class="list-group-item" id = "content-div2">
                <a href = "/content2">Steps for a Successful Meeting</a>
            </li>

            <!-- CONTENT 3 -->
            <li class="list-group-item" id = "content-div3"  data-target="#content-text3">
                <a href = "/content3">Join Meeting</a>
            </li>

            <!-- CONTENT 4 -->
            <li class="list-group-item">
                <a href = "/content4">Settings</a>
            </li>
            <!-- CONTENT 5 -->
            <li class="list-group-item">
                <a href = "/content5">Join with Telephone</a>
            </li>
            <!-- CONTENT 6 -->
            <li class="list-group-item" id = "content-div6" data-target="#content-text6">
                <a href ="/content6"> During Meeting</a>
            </li>

            <!-- CONTENT 7 -->
            <li class="list-group-item" id = "content-div7" data-toggle="collapse" data-target="#content-text7">
                <a href = "/content7"> Troubleshooting</a>
            </li>

             <!-- CONTENT 10 -->
            <li class="list-group-item" id = "content-div10" data-toggle="collapse" data-target="#content-text10">
                <a href = "/content10"> Course Completion</a>
            </li>
    </div>
    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Your Website 2014</p>
            </div>
        </div>
    </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <!-- TODO should I put that in separate script? -->
    <script src = "js/func.js">
    </script>

</body>

</html>
