<!DOCTYPE html>
<html lang="en">

<head>
    <%include partials/head.ejs%>  
</head>

<body id = "content-body">
     <!-- Navigation -->
    <nav class="content navbar navbar-inverse navbar-fixed-top" role="navigation"><%include partials/navbar/contentnav.ejs%>
    </nav>  
    
    <!-- Full Width Image Header -->
    <header class = "content">
        <img src = "/images/content1.jpg" id = "content-header-image">
    </header>
    <!-- <div class = "container"> -->
        <!-- <div class = "row"> -->
            <!-- <div class = "column-content col-sm-6"> -->
                <div class = "content-container">
                    <!-- CONTENT 0 -->
                    <li class="list-group-item content-div">
                        <a href = "/contentsection/10/" class = "buttonlink mid-header1">Overview</a>
                    </li>
                    <!-- CONTENT 1 -->
                    <li class="list-group-item content-div">
                        <a href = "/contentsection/1/" class = "buttonlink mid-header1">Download and Install</a>
                    </li>

                    <!-- CONTENT 3 -->
                    <li class="list-group-item content-div">
                        <a href = "/contentsection/3/" class = "buttonlink mid-header1">Join Meeting</a> 
                    </li>

                    <!-- CONTENT 6 -->
                    <li class="list-group-item content-div">
                        <a href = "/contentsection/6/" class = "buttonlink mid-header1">Menu</a> 
                    </li>

                    <!-- CONTENT 4 -->
                    <li class="list-group-item content-div">
                        <a href = "/contentsection/4/" class = "buttonlink mid-header1" id = "content-header4">Settings</a>
                    </li>

                    <!-- CONTENT 7 -->
                    <li class="list-group-item content-div">
                        <a href = "/contentsection/7/" class = "buttonlink mid-header1">Troubleshooting</a>
                    </li>
                </div>
            <!-- </div> -->
                <!-- /.container -->     
             <!-- <div class = "column-content col-sm-6"> -->
            <!-- </div> -->
        <!-- </div> -->
    <!-- </div> -->
     <!-- Footer -->
    <footer>
        <% include partials/footer.ejs%>
    </footer>
</body>

</html>
