<!DOCTYPE html>
<html lang="en">

<head>
    <%include partials/head.ejs%>  
</head>

<body id = "content-body">

    <!-- Navigation -->
    <nav class="content navbar navbar-inverse navbar-fixed-top" role="navigation"><%include partials/navbar/navbar.ejs%>
    </nav>  
    
    <!-- Full Width Image Header -->
    <header class = "content header-image">
            <div class="headline">
            <div class="container">
                <h1>Content</h1>  
                <h2 class = "text-muted"> Hover over names </h2>          
            </div>
        </div>
    </header>
    <!-- Page Content -->
    <div class = "content container">
    <div class="content-list">
        <!-- List group -->
          <ul class="list-group">
          <!-- CONTENT 1 -->
            <li class="list-group-item" id = "download" data-toggle="collapse" data-target="#content-text1">
                <div class = "list-group-header">Download and Install</div>
                <div class = "collapse" id = "content-text1"> 
                   <%include partials/content/content_text1.ejs%>
                </div>
            </li>

            <!-- CONTENT 2-->
            <li class="list-group-item" id = "join-meeting" data-toggle="collapse" data-target="#content-text2">Join Meeting 
                <div class = "collapse" id = "content-text2"> 
                    <%include partials/content/content_text2.ejs%>
                </div>
            </li>

            <!-- CONTENT 3 -->
            <li class="list-group-item" id = "setup-meeting" data-toggle="collapse" data-target="#content-text3">Set up Meeting
                <div class = "collapse" id = "content-text3"> 
                    <%include partials/content/content_text3.ejs%>
                </div>
            </li>

            <!-- CONTENT 4 -->
            <li class="list-group-item" id = "do-meeting">During meeting</li>

            <!-- CONTENT 5 -->
            <li class="list-group-item" id = "troubleshooting" data-toggle="collapse" data-target="#content-text5">Troubleshooting
                <div class = "collapse" id = "content-text5">
                    <%include partials/content/content_text5.ejs%>
                </div>
            </li>
          </ul>
    </div>   

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Your Website 2014</p>
            </div>
        </div>
    </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <!-- TODO should I put that in separate script? -->
    <script src = "js/func.js">
    </script>

</body>

</html>
