<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href = "css/stylesheets.css" rel = "stylesheet">
</head>
<body>
 	<div class="container">
 		<% if (message.length> 0) {%>
		<div class="jumbotron jumbotron-fluid" style = "background-color: <%= color%>" id = "flash-jumbotron">
		  <div class="container">
		    <h3 class="display-3"> <%= message%> 
		    </h3>  
			</div>
		</div>
		<%}%>
	</div>

	<footer>
        <% include partials/footer.ejs%>
    </footer>
</body>