<!DOCTYPE html>
<html lang="en">

<head>
    <%include partials/head.ejs%>
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <%include partials/navbar/homenavbar.ejs%>
    </nav>  
    <!-- Full Width Image Header -->
    <header class="index header-image">
        <div class="headline">
            <div class="container">
                <h1>Zoom Tutorial</h1>
                <h2 class = "text-muted">Learn how to use Zoom software</h2>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container" id = "index-container">

        <hr class="featurette-divider">

        <!-- First Featurette -->
        <div class="featurette" id="about">
            <img class="featurette-image  img-responsive pull-right" src="images/zoom-3.jpg"> <h2 class="featurette-heading">What is Zoom?
                <!-- <span class="text-muted">Will Catch Your Eye</span>-->
            </h2> 
            <p class="lead">Zoom unifies cloud video conferencing, simple online meetings, group messaging, and a software-defined conference room solution into one easy-to-use platform. Our solution offers the best video, audio, and wireless screen-sharing experience across Windows, Mac, iOS, Android, Blackberry, Linux, Zoom Rooms, and H.323/SIP room systems. Founded in 2011, Zoom's mission is to develop a people-centric cloud service that transforms the real-time collaboration experience and improves the quality and effectiveness of communications forever.</p>
        </div>

        <hr class="featurette-divider">

        <!-- Second Featurette -->
        <div class="featurette" id="services">
            <img class="featurette-image img-circle img-responsive pull-left" src="http://placehold.it/500x500">
            <h2 class="featurette-heading">Course Overview
               <!--  <span class="text-muted">Is Pretty Cool Too.</span> -->
            </h2>
            <p class="lead">Being a successful participant in a Zoom meeting is easy when you follow the steps.  This course will take you through the process of preparing your computer, joining the meeting and troubleshooting some common problems on a computer.  While you can use other devices for Zoom, such as a phone, smart phone, tablet and video teleconference (VTC) system, this course will only cover the case of using a computer. The Zoom application works the same on desktops, laptops, Apple and Windows computers.  </p>
       
            <p class = "lead">Following these simple steps will ensure that you will be successful and you should be familiar with them before participating in a meeting. This course will show you how to download and install the Zoom application, start the zoom application, test your equipment and use zoom features within a meeting.</p>

            <p class = "lead"><b>A note about Zoom accounts:</b></p>
            <!-- TODO note about Zoom -->
            <p class = "lead">Although you can participate in a meeting signed into your own Zoom account, this is not a requiremnt for participation in a meeting.</p>
        </div>


        <!-- Footer -->
        <footer>
            <% include partials/footer.ejs%>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
