<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link href="https://fonts.googleapis.com/css?family=Assistant:200|Dosis|Josefin+Sans:300|Megrim|Poppins:500|Raleway|VT323" rel="stylesheet">
    <link rel = "stylesheet" href = "css/stylesheets.css">
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body class = "login">
	<div class="container">
		<div id = "login-form"  class="col-sm-6 col-sm-offset-3">
		    <%include partials/loginmodal.ejs%>
		</div>
	</div>
</body>
</html>