/*==========================INDEX==========================*/

.lead {
	font-size: 18px;
}

.index.header-image {
    display: block;
    height: 55%;
    text-align: center;
    padding-top:50px;
    max-height:55%;
}

#index-image {
	/*position: absolute;*/
	margin:0% 0% 0%7%;
	max-width:100%;
	max-height:100%;
	display: block;
	zoom:150%;
}

.container, html, body {
	height: 100%;
	width: 100%;
	padding: 0px;
	margin: 0px;
}

#index-container {
	margin-top:10px;
	padding-left: 5%;
	padding-right:5%;
}

.featurette {
	margin-top: 4%;
	margin-bottom: 2%;
}


/*==========================CONTENT==========================*/

.content-container, .column-content {
	padding:0px;
	margin: 0px;
}

.buttonlink.mid-header1 {
	font-size: 28px;
}
#content-header-image {
	background-position: center;
	margin-top:50px;
	max-height: 40%;
	width:100%;
	/*zoom: 0%;*/
}

.text-muted {
	color:#71ACBA;
}

.content-div {
	width: 100%;
	max-height:20%;
	text-align: center;
	font-size: 25px;
}

.content-overview {
	font-size:18px;
	color: #422B8D;
}

table {
	border-collapse: collapse;
}

td {
	border-right: 1px solid black;
	border-left: 1px solid black;
	padding: 5px;
}

table, th {
	border: 1px solid black;
	padding:5px;
}
#content-text1,#content-text2, #content-text3, #content-text4, #content-text5, #content-text6, #content-text7, #content-text8, #content-text9, #content-text10 {
	font-size: 14px;
	text-align: left;
	padding: 13px;
	margin:0px;
	color: black;
}

.content-link{
	font-size: 14px;
	color: #D28EE4;
}

.content-header {
	color: #149AA4;
	font-size: 100px;
}

#content-header4,#content-refer {
	color: red;
}

.content-menu-dropdown {
	margin:5px;
}

.buttonlink, .buttonlink:active {
    background:none!important;
    border:none; 
    padding:0!important;
    outline-style: none;
 }

 .buttonlink:active {
 	color: white;
 }

 #content-body {
 	width:100%;
 	position: absolute;
 	margin: 0px;
 }
 /*==========================CONTENT-SECTION==========================*/
 .contentsection-container {
 	margin: 3%;
 }

/*==========================LOGIN==========================*/
#login {
	background-image: url('../images/login5.svg');
	background-repeat: no-repeat;
    /*-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
*/    background-size: cover;
    /*background-position:center;*/
    position: relative;
    overflow-x: scroll;
}


#login-form {
	background: rgba(135, 164, 209, 0.1);
}

/*==========================SIGNUP==========================*/
#signup {
	background-image: url('../images/signup.jpg');
	background-repeat: no-repeat;
    background-size: cover;
    background-position:right;
    position: relative;
    overflow-x: scroll;

}

#signup-form {
	background: rgba(156,165,179,0.2);
}
/*==========================EMAil CONFIRM==========================*/
.fa-check-circle-o {
	color: #118E47;
}

/*==========================PROFILE==========================*/
/*set up input fields width*/
.col-md-4 {
	padding-left:30px;
	padding-right:30px;
	border-radius:0;
}

/*format input fields*/
.input-account-pass {
	border-radius:0px;
}


/*==========================FORGOT PASS==========================*/
.bodyForgot {
	background-image: url('../images/forgotpass1.jpg');
	background-repeat: no-repeat;
    background-size: cover;
    background-position:top;
    position: relative;
    overflow-x: scroll;
    padding-top:13%;
}

#submitForgot {
	margin-top: 5px;
}

.forgotpass-form {
	background:rgba(212,165,223,0.1);
}

/*==========================FOR COMPONENTS==========================*/
.btn {
	border-radius:2px;
}
.nav-elem {
	font-size:18px;
}

footer {
	margin: 2%;
	padding: 0px;
}

input, button {
	border-radius:0px;
}

.alert {
	margin-top:10px;
}


.big-header1 {
	font-size: 550%;
	text-align:center;
	font-family: 'Megrim', cursive;
	font-weight: bold;
}

.mid-header1 {
	font-family: 'Dosis', sans-serif;
}

.small-header1 {
	font-family: 'VT323', monospace;
	font-size: 22px;
}

.reg-text1 {
	font-family: 'Raleway', sans-serif;
	font-size: 115%;
	color: #56636E;
}

#flash-jumbotron {
	font-size: 40px;
	text-align: center;
}