
.navbar {
	font-size: 15px;
	
}

.header-image {
    display: block;
    width: 100%;
    /*height: 30%;*/
    text-align: center;
    background-color:#3490D7;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.container, html, body {
	height: 100%;
	width: 100%;
}



/*==========================CONTENT==========================*/

.list-group {
	font-size: 30px;
	width:100%;
	height: 100%;
	margin:0px;
}

.content.container {
	padding:0px;
	margin: 0px;
}

.content.header-image {
	background-image:url('../images/content-header-background.jpg');
	background-position: bottom;
	color: #E4F0F3;
}

.text-muted {
	color:#71ACBA;
}

#download, #join-meeting, #setup-meeting, #do-meeting, #troubleshooting {
	width: 100%;
	height:30%;
	text-align: center;
	font-size: 30px;
	/*background-color: red;*/
}

#content-text1,#content-text2, #content-text3, #content-text5 {
	font-size: 16px;
	text-align: left;
	padding: 13px;
	margin:0px;
	color: black;
}

#download-link {
	font-size: 18px;
	color: #D28EE4;
}

.list-group-header{
	padding: 10x;
}

/*on collapse change color of header*/

.download-text-subheader {
	font-size: 20px;
	color: #1BD7B8;
}

/*==========================LOGIN==========================*/
.login {
	background-image: url('../images/login.jpg');
	background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}