/*==========================INDEX==========================*/

.lead {
	font-size: 18px;
}

.header-image {
    display: block;
    width: 100%;
    /*height: 30%;*/
    text-align: center;
    background-color:#3490D7;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.container, html, body {
	height: 100%;
	width: 100%;
	padding: 0px;
	margin: 0px;
}

#index-container {
	padding: 5%;
}

/*==========================CONTENT==========================*/

.content-container, .column-content {
	padding:0px;
	margin: 0px;
}

.content.header-image {
	background-image:url('../images/content-header-background.jpg');
	background-position: bottom;
	max-height: 50%;
}

.text-muted {
	color:#71ACBA;
}

.content-div {
	width: 100%;
	max-height:20%;
	text-align: center;
	font-size: 25px;
}

.content-overview {
	font-size:18px;
	color: #422B8D;
}

.border-void-table {
	border: none;
}

table {
	border-collapse: collapse;
}

td {
	border-right: 1px solid black;
	border-left: 1px solid black;
	padding: 5px;
}

table, th{
	border: 1px solid black;
	padding:5px;
}
#content-text1,#content-text2, #content-text3, #content-text4, #content-text5, #content-text6, #content-text7, #content-text8, #content-text9, #content-text10 {
	font-size: 14px;
	text-align: left;
	padding: 13px;
	margin:0px;
	color: black;
}

.content-link{
	font-size: 14px;
	color: #D28EE4;
}

.content-header {
	color: #149AA4;
	font-size: 100px;
}

#content-header4,#content-refer {
	color: red;
}

.content-menu-dropdown {
	margin:5px;
}

.buttonlink, .buttonlink:active {
    background:none!important;
    border:none; 
    padding:0!important;
    outline-style: none;
 }

 .buttonlink:active {
 	color: white;
 }

 #content-body {
 	overflow: visible;
 	position: absolute;
 	margin: 0px;
 }
 /*==========================CONTENT-SECTION==========================*/
 .contentsection-container {
 	margin: 3%;
 }

/*==========================LOGIN==========================*/
.login {
/*	background-image: url('../images/login.jpg');
	background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
}

/*==========================EMAil CONFIRM==========================*/
.fa-check-circle-o {
	color: #118E47;
}

/*==========================PROFILE==========================*/
/*set up input fields width*/
.col-md-4 {
	padding-left:30px;
	padding-right:30px;
	border-radius:0;
}

/*format input fields*/
.input-account-pass {
	border-radius:0px;
}


/*==========================FORGOT PASS==========================*/
#bodyForgot {
	padding: 5%;
}

#submitForgot {
	margin: 5px;
}

/*==========================FOR COMPONENTS==========================*/
.btn {
	border-radius:2px;
}
.nav-elem {
	font-size:18px;
}

footer {
	margin: 2%;
	padding: 0px;
}

input, button {
	border-radius:0px;
}

#flash-jumbotron {
	font-size: 40px;
	text-align: center;
}