  
        <div class="container nav-container">
            <!-- Brand and toggle get grouped for better mobile display -->                        
            <!-- Collect the nav links, forms, and other content for toggling -->
                <ul class="nav nav-pills" style = "min-width:15px;min-height:15px;padding-left:3%;">
                    <li role = "presentation">
                        <a class="navbar-brand nav-glyph nav-elem" href="#"><span class = "glyphicon glyphicon-home"> </span></a>
                        </li>
                    <li>
                        <a href="/about" class = "nav-glyph nav-elem"><span class = 'nav-glyph glyphicon glyphicon-info-sign'></span></a>
                    </li>
                    <li>
                        <a href="/login" class = "nav-elem mid-header1">Login</a>
                    </li>
                </ul>            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    
