  
        <div class="container nav-container">
            <!-- Brand and toggle get grouped for better mobile display -->                        
            <!-- Collect the nav links, forms, and other content for toggling -->
                <ul class="nav nav-pills" style = "min-width:15px;min-height:15px;padding-left:3%;">
                    <li role = "presentation">
                        <a class="nav-glyph nav-elem small-header1"  href="/" style = "font-size:22px;""><span class = "glyphicon glyphicon-home"> </span> Home</a>
                        </li>
                    <li>
                        <a href="/about" class = "nav-glyph nav-elem small-header1" style = "font-size:22px;"><span class = 'nav-glyph glyphicon glyphicon-info-sign'></span> About</a>
                    </li>
                    <li>
                        <a href="/login" class = "nav-elem small-header1" style  = "color:#CB34E9;font-size:22px;font-weight:bold;background-color:#FFFFFF;"><span class = "glyphicon glyphicon-log-in"></span> Login</a>
                    </li>
                </ul>            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    
