  
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->                        
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav nav-pills">
                    <li role = "presentation" >
                        <a class="navbar-brand" href="#"><span class = "glyphicon glyphicon-home"> Learn</span></a>
                        </li>
                    <li>
                        <a href="#about"><span class = 'glyphicon glyphicon-info-sign'>About</span></a>
                    </li>
                    <li>
                        <a href="/profile"><span class = 'glyphicon glyphicon-user'>My Account </span></a>
                    </li>
                    <li>
                        <a href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    
