  
        <div class="container nav-container" >
            <!-- Brand and toggle get grouped for better mobile display -->                        
            <!-- Collect the nav links, forms, and other content for toggling -->
                <ul class="nav nav-pills" style = "min-width:15px;min-height:15px;">
                    <li role = "presentation" >
                        <a class="nav-elem" href="/content"><span class = "glyphicon glyphicon-home"> </span></a>
                        </li>
                    <li>
                          <a href="#" class="nav-elem dropdown-toggle mid-header1" data-toggle="dropdown">Content</a>
                          <ul class="dropdown-menu mid-header1" style = "font-size:16px;">
                            <li><a class = "content-menu-dropdown" href="/contentsection/10/">Overview</a></li>
                            <li><a class = "content-menu-dropdown" href="/contentsection/1/">Download and Install</a></li>
                            <li><a class = "content-menu-dropdown"  href="/contentsection/3/">Join Meeting</a></li>
                            <li><a class = "content-menu-dropdown"  href="/contentsection/6/">Menu</a></li>
                            <li><a class = "content-menu-dropdown"  href="/contentsection/4/">Settings</a></li>
                            <li><a class = "content-menu-dropdown"  href="/contentsection/7/">Troubleshooting</a></li>
                          </ul>
                    </li>
                    <li>
                        <a href="/logout" class = "nav-elem mid-header1">Logout</a>
                    </li>
                </ul>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    
