EXPLANATION:

<p>Zoom is automatically downloaded and installed when you click on the link to your meeting.  Zoom can always be downloaded and installed directly from the download link on the zoom site as well.</p>



<p>Zoom does not need admin rights to install and it needs to be installed separately for each user, so IT is not needed to install and they cannot install it for all users at once.</p>