EXPLANATION:

<p>It is always a good idea to join early, test your settings and be ready to go when the host starts the meeting.  Testing during the meeting when you notice there is a problem may take a lot of time and cause you to miss some content.  Most problems can be solved without the help of IT.  There is no magic that ensures that the computer works every time, so knowing the testing procedure is important.</p>


