
EXPLANATION:

<p> When you are using a telephone by itself, the only requirement after dialing the access phone number is to enter the meeting number and #.  If you have also joined the meeting with a computer (or other device), you will need to enter both the meeting number # and participant id #.  If you have already joined by telephone and decide to join with a computer later, you can enter #[paricipant id]# into the phone at any time to connect your audio with your video.</p>

