EXPLANATION:

<p> A through C are the steps to get to Audio settings</p>

EXPLANATION:

<p> To test your camera to make sure you have a picture, you can either just look to see what shows up in the meeting window, or go to the video settings screen to see your video and make other adjustments.</p>

