

EXPLANATION:

<p>You can enter the meeting by clicking on the link, which opens Start Zoom and joins the meeting.  You can also open Start Zoom yourself and type in the meeting number. The only way to get the meeting number or link is from the host, not from the Zoom website. </p>


EXPLANATION:

<p>You will need a meeting number and screen name to join a meeting.  The exact meeting number is important, but you can choose your own screen name.</p>
