<h2 class = "content-header">Join Meeting</h2>
<div class = "collapse" id = "content-text3"> 
	<p>To join a Zoom meeting you will need a link to the meeting, or a Meeting ID.</p>  
	<p><b>With a Zoom link:</b></p>
	<p>Click on Zoom link. Your browser will open and take you directly to the active Zoom meeting. 
	 If necessary, click on the link "download & run Zoom." to start Zoom.</p>
	<p><b>From the Zoom Application:</b></p>
	<p>Alternatively, you can open Zoom App, called “Start Zoom”</p>
	<ol>
	<li>Find the shortcut called "Start Zoom"</li>
	<li>After clicking the icon,a popup dialog will ask if you would like to join a meeting or sign in. </li>
	<li>Select Join Meeting</li>
	<li>Fill in the Join Meeting dialog<ul>
	<li><code>Meeting ID: <em> Enter the meeting ID here.</em></code> </li> 
	<li><code>Your Name: <em>Enter the name that will identify your site, such as patient name or ID.* </em></code></li>
	</ul>
	</li>  
	</ol>
	<p><em>* You can enter any screen name here, but sometimes the host will ask that you use a certain name or enter your name in a certain format.</em></p>
	QUIZ:
	<ol class="quiz">
		<li><div>How do you enter a Zoom meeting?</div>
			<input type="radio" name="q1" value="1">a) Click on a Zoom meeting link </br>
			<input type="radio" name="q1"  value="2">b) Open Start Zoom and provide the meeting number</br>
			<input type="radio" name="q1"  value="3">c) Log in to the Zoom and find the meeting under "My Meetings"</br>
			<input type="radio" name="q1"  value="4">d) a and b</br>
		</li>
	</ol>
	QUIZ:
	<ol class="quiz">
	 
		<li><div>What information do you need to enter when joining a meeting?</div>
			<input type="radio" name="q2" value="1">a) Meeting number and screen name </br>
			<input type="radio" name="q2"  value="2">b) Meeting number and email address</br>
			<input type="radio" name="q2"  value="3">c) Participant ID and meeting number</br>
			<input type="radio" name="q2"  value="4">d) Meeting ID and Zoom account name</br>
		</li>
	</ol>
</div>
<!-- <button type="submit" data-toggle="collapse" class="btn btn-warning btn-lg">Submit</button> -->

