<h2 class = content-header>Troubleshooting</h2>
<div class = "collapse" id = "content-text7">
	<h3> Audio </h3>
	<table>
	<thead>
		<tr><th></th><th>Problem</th><th>Reason</th><th>Solution</th></tr>
	</thead>
	<tbody>
	<tr>
	<td>1.</td> 
	<td>No microphone icon</td>
	<td>audio is not connected to the meeting</td>
	<td>go to Audio Options and connect to phone or computer audio</td>
	</tr>
	<tr>
	<td>2.</td>
	<td> Microphone icon but no sound from meeting</td>
	<td> speaker volume is too low or muteed</td>
	<td> use computer's audio settings or Zoom's audio settings to adjust volume</td>
	</tr>
	<tr>
	<td></td>
	<td>wrong speakers selected </td>
	<td>use Zoom audio settings to select the proper speakers</td>
	</tr>
	<tr>
	<td>3.</td>
	<td> Microphoe icon but others cannot hear me</td>
	<td> microphone is muted </td>
	<td>click on mic icon to unmute</td>
	</tr>
	<tr>
	<td></td>
	<td></td>
	<td>microphone volume is too low </td>
	<td> go to audio settings and manually increase mic volume</td>
	</tr>
	<tr>
	<td></td>
	<td></td>
	<td></td>
	<td>computer may have other microphone settings to try, may need your local IT support to adjust - use phone</td>
	</tr>
	<tr>
	<td></td>
	<td></td>
	<td>no microphone selected</td>
	<td> microphone driver not enabled or installed, may need your local IT support to adjust - try rebooting. If this doesn't work, use phone</td>
	</tr>
	<tr>
	<td>3.</td>
	<td> Echo</td>
	<td>more than one device in your room joined by audio to the meeting </td>
	<td> turn off speakers and mics from all but one device</td>
	</tr>
	<tr>
	<td></td>
	<td></td>
	<td></td>
	<td>unjoin audio on all but one device</td>
	</tr>
	<tr>
	<td>4.</td>
	<td> Slight/occasional echo </td>
	<td> network delay, low bandwith, wifi </td>
	<td> this will usually fix itself over time as zoom adjusts</td>
	</tr>
	<tr>
	<td></td>
	<td></td>
	<td></td>
	<td>use phone for greatly improved audio</td>
	</tr>
	</tbody>
	</table>
	<p><em>Note that for most audio problems that occur during a meeting, it is usually quicker and easier to just switch to using a telephone for audio.  Troubleshooting can be done later when you have more time.</em></p>

	
	<!-- video troubleshoot -->
	<h3> Video </h3>
		<table>
	<thead>
	<tr><th></th><th>Problem</th><th>Reason</th><th>Solution</th></tr>
	</thead>
	<tbody>
	<tr>
	<td>1.</td>
	<td> No camera icon</td>
	<td> Camera not connected </td>
	<td> Connect your camera to a different USB port and wait a minute for the camera icon to appear. You may have to click the icon to turn on the camera once it appears</td>
	</tr>
	<tr>
	<td></td>
	<td></td>
	<td>Camera driver not loaded or camera not compatible with Zoom</td>
	<td>You will not use the camera for this session, but contact your local IT support to fix the problem for next time.</td>
	</tr>
	<tr>
	<td>2.</td>
	<td> Camera icon and no video (black video)</td>
	<td> Camera is turned off </td>
	<tr>
	<tr>
	<td></td>
	<td></td>
	<td></td>
	<td> Click on the camera icon to turn the image on. </td>
	</tr>
	<tr>
	<td></td>
	<td></td>
	<td>the cameras lens is covered</td>
	<td> remove lens cap or obstruction</td>
	</tr>
	<tr>
	<td></td>
	<td></td>
	<td>The camera is being used by another program </td>
	<td>close other program that uses video (this incudes the camera control software that may automatically load when you plug in the camera).  If this doesn't work, reboot the computer.</td>
	</tr>
	</tbody>
	</table>
	<p><em>Note that for most camera issues that are not solved by removing the lens cap or choosing a different camera, you will not be using the camera for this session, but will need to troubleshoot with your local IT support person.</em></p>
</div>


