 <p>Download and Install the Zoom desktop application</p>

<p>To use Zoom on a desktop computer, you will need the Zoom application called "Start Zoom"

If you click on a zoom meeting link, the application will automatically download if 

it is not already on your computer.</p>

<p><em>e.g. sample zoom link: <a class = "content-link">https://www.zoom.us/j/111222333</a></em></p>

<p>You can also download the software directly here: <a class = "content-link" href="https://www.zoom.us/download/">https://www.zoom.us/download</a></p>



<p><em>It is important to know that if there are multiple users on a single computer, Zoom will need to be downloaded and installed by each user.</em><p>



<p><b>A note about hardware configuration</b></p>

<p>To prepare your computer to use a camera and microphone, consult with your local IT support person to install any hardware that you are not familiar with.  Once your equipment works locally, it will work with Zoom. </p>