<h2 class = "content-header">Join with telephone</h2>
<div class = "collapse" id = "content-text5">
	<p>In some cases you may prefer to use the telphone for audio instead of the computer.</p>
	<p> When presented with the Audio Options dialog, by default, the Computer Audio tab is shown.</p>
	<p>Select the Phone Call tab and follow the directions for using a telephone in the Zoom meeting.  If you are using the computer for the visual content, video, chat and screen sharing, it is important to enter your Participant ID in to the phone by keying in #<participan id number>#. <em>i.e. #14#.</em></p>
	<p>Note that your participant ID can only be seen by you, so you will need to access the Phone Call screen to see this.</p>
	QUIZ:
	<ol class="quiz">
		<li><div>If you are using both the computer for video and the phone for audio, what do you enter into the phone?  </div>
			<input type="radio" name="q1" value="1">a) [meeting number] # [participant id] # </br>
			<input type="radio" name="q1"  value="2">b) [meeting number] #
			<input type="radio" name="q1"  value="3">c) [meeting number] # [screen name] #</br>
			<input type="radio" name="q1"  value="4">d) either a or b</br>
		</li>
	</ol>
</div>
<!-- <button type="submit" data-toggle="collapse" class="btn btn-warning btn-lg">Submit</button> -->
