<p>In some cases you may prefer to use the telphone for audio instead of the computer.</p>

<p> When presented with the Audio Options dialog, by default, the Computer Audio tab is shown.</p>

<p>Select the Phone Call tab and follow the directions for using a telephone in the Zoom meeting.  If you are using the computer for the visual content, video, chat and screen sharing, it is important to enter your Participant ID in to the phone by keying in #<participan id number>#. <em>i.e. #14#.</em></p>

<p>Note that your participant ID can only be seen by you, so you will need to access the Phone Call screen to see this.</p>


