<p>Zoom can use your webcam to let other participants see you.  If you are using a camera in your meeting the following guidelines

will help your improve the quaility of the video image.</p>



<p>When your video is on, you will see your camera’s image on the screen. You can see that it is on because it will be visible in the meeting window.

Position the camera so that people are on shown in the frame and they are not in shadow. If there is a choice, position subjects where the light

falls in front of their faces and not behind them.</p>



<p><b>Video Settings</b></p>

<p>Video settings allows you to select and test your video camera, as well as change preferences for how your video is shown.</p>



<p>To change video settings</p>

<ol>

<li>Open the Video Options menu by clicking on the caret next to the camera icon at the bottom of the Zoom window. 

You will be shown a menu, with choices including a selection of cameras and a link to the Video Settings dialog. </li> 



<li>Click “Video Settings...” to open the video settings dialog, which shows a live image from your camera and controls to change cameras and change settings to reflect your personal preferences. </li>

</ol>
