<h2 class= "content-header">Steps for a Successful Meeting</h2>
<div class = "collapse" id = "content-text2">
	<p>Joining a Zoom meeting is always very simple.  Click on a link, wait for the meeting window to open, and start participating.  Somethimes things don't go this smoothly. To make sure that you always have a successful Zoom meeting, follow these steps to make sure you don't miss any details.</p>
	<ol>
	<li>Connect to the meeting by clicking on a link or opening the Zoom desktop application</li>
	<li><span id = "content-refer">Test your audio - this is the key to success! </span> (under Settings section) </li> 
	<li>Participate in the meeting</li>
	</ol>
	<p>Testing your audio is critical because there is frequently more than one way to connect audio on your computer.  To hear the meeting audio, you will have to make sure that you are using the correct speakers and microphones and that those devices are operating correctly.  Video is a little bit easier because you can easily see if it is working in the meeting window.  Audio issues aren't always obvious. Make sure you give yourself enough time to fix any issues by connecting to the meeting up to 10 minutes early.</p>
	<p>The following sections will go into more detail about each step.</p>
	QUIZ:
	<ol class="quiz">
		<li><div>Joining a Zoom meeting is simple, just</div>
			<input type="radio" name="q1" value="1">a) Click on a Zoom meeting link and you're in! Nothing else to do. </br>
			<input type="radio" name="q1"  value="2">b) Open the meeting, turn on your camera and mic.  If there is a problem during the meeting, fix the settings by testing your audio and video. </br>
			<input type="radio" name="q1"  value="3">c)Join the meeting early, test your audio and video, start participating.</br>
			<input type="radio" name="q1"  value="4">d) Ask IT to fix your settings so eveything always works all the time.</br>
		</li>
	</ol>
</div>
<!-- <button type="submit" data-toggle="collapse" class="btn btn-warning btn-lg">Submit</button> -->
