<h2 class = "content-header">During Meeting</h2>
<div class = "collapse" id = "content-text6">
	<p>Once you are in a meeting, you will be able to control how the meeting looks on the screen by moving windows around, resizing some elements and using the menus to access other features.</p>
	<p><b>Meeting Features</b></p>
	<p>Once you have started or joined a meeting, you can perform the following actions from the menu bar located at the bottom of the meeting window (move your mouse to toggle):</p>
	<p>You can:</p>
	<ul>
	<li><a class = "content-link" href="#invite">Invite more people to join by email, IM, SMS (mobile users) or meeting ID</a>  </li>
	<li><a class = "content-link" href="#share">Screen share your desktop or specific application window</a> </li> 
	<li><a class = "content-link" href="#chat">Group or private chat</a> </li>
	<li><a class = "content-link" href="#record">Record your meeting</a> </li>
	<li><a class = "content-link" href="#participants"> Manage participants</a> </li>
	<li><a class = "content-link" href="#mute">Mute and unmute your audio</a></li>
	<li><a class = "content-link" href="#aopt">Select audio options</a> </li>
	<li><a class = "content-link" href="#vopt">Stop and start your video</a></li>
	<li><a class = "content-link" href="#configure">Configure your settings</a> </li>
	<li><a class = "content-link" href="#leave">Leave the meeting</a></li>
	</ul>
	<p>The menu options above show you what you can do while you are in a meeting. Here are some of the things you can do as a participant:</p>
	<ul>
	<li id="invite"><b>Invite</b> - sends connection information to people to invite them to join.  You can get a copy of the meeting link from here.</li>
	<li id="share"><b>Screen Share</b> - depending on how the host has set up the meeting, this may allow you to share your screen or alert the host that you would like to share your screen</li>
	<li id="chat"><b>Chat</b> - opens the text chat box</li>
	<li id="record"><b>Record</b> - depending on how the host has set up the meeting, this may alert the host that you would like to have the meeting recorded</li>
	<li id="participants"><b>Manage Participants</b> - shows a list of participants and allows you to raise your hand and change your screen name</li>
	<li id="mute"><b>Mute and umute your audio</b> - turns your mic on and off. This is the most important button that you will use in a meeting.  If the mics of all participants were on at once, there would be a lot of noise and it would be difficult to hear the person talking.  This button will easily turn on
	your mic when you want to talk, then let you quickly turn it off when you are done.</li>
	<li id="aopt"><b>Select audio options</b> - audio settings, switch between telephone audio and computer audio.</li>
	<li id="vopt"><b>Stop and Start your video</b> - turns your video on and off.  If you have a camera and it is allowed in the meeting, conversations flows better when others can see you, so you are encouraged to use it.</li>
	<li id="configure"><b>Select video options</b> - video settings, switch between cameras.</li>
	<li id="leave"><b>Leave the meeting</b> - removes you from the meeting.</li>
	</ul>
	QUIZ:
	<ol class="quiz">
		<li><div>How do you mute and unmute your microphone </div>
			<input type="radio" name="q1" value="1">a) Click the microphone icon for both mute and unmute</br>
			<input type="radio" name="q1"  value="2">b) Click the microphone icon to turn on the mic and the mute button to mute the mic</br>
			<input type="radio" name="q1"  value="3">c) Click either the microphone icon or the camera icon</br>
			<input type="radio" name="q1"  value="4">d) Turn off your speakers using the computer volume control</br>
		</li>
	</ol>
	QUIZ:
	<ol class="quiz">
		<li><div>To raise your hand,</div>
			<input type="radio" name="q2" value="1">a) right-click on the my video </br>
			<input type="radio" name="q2"  value="2">b) click the caret next to the microphone icon</br>
			<input type="radio" name="q2"  value="3">c) wave into the camera</br>
			<input type="radio" name="q2"  value="4">d) open the Participants screen and click "Raise Hand" at the bottom of the window.</br>
		</li>
	</ol>
</div>
<!-- <button type="submit" data-toggle="collapse" class="btn btn-warning btn-lg">Submit</button> -->
