<p>The following steps were reviewed in this course.</p>

<ol>

<li>Download and install the Zoom application.</li>

<li>Run the Zoom application</li>

<li>Select and test your audio</li>

<li>Select and test your camera</li>

<li>Participate in the meeting, using the menu and screen controls to get the most out of Zoom</li>

<li>Leave the meeting</li>

</ol>



<p>You have learned to test and troubleshoot audio and video problems so that when they do come up, they will not prevent you from participating in a meeting.</p>



<p>This course covered joining a Zoom meeting on a computer,  Zoom can also connect to many other devices, such as phones, smart phones, tablets and dedicated video teleconference (VTC) systems.</p>



<p>Visit the Zoom's Help Center resources for more information:</p>

<a class = "content-link" href="https://support.zoom.us/hc/en-us">https://support.zoom.us/hc/en-us</a>