<h2 class = "content-header" id = "content-header4"> Settings</h2>
<div id = "content-text4">
	<h3>Audio Settings</h3>
	<p>Zoom can use your computer's speakers and microphone or a telephone to provide meeting audio.  There are commonly more than one possible
	audio source on your computer, so you may need to change settings to use the correct source.  Some expamples of audio sources are built-in microphone,
	line-in, usb mic, web mic, and external microphone.  </p>
	<p>The single most common problem in web meetings can be traced to audio settings, so these should be checked before each meeting.</p>
	<p><b>Audio Settings</b></p>
	<p>Audio settings provides a place to test your speakers and microphone, as well as change preferences for how your audio is heard.</p>
	<p>To change audio settings,</p>
	<ol>
	<li> Open the Audio Options menu by clicking on the caret next to the microphone icon at the bottom of the Zoom window.  
	You will be shown a menu, with choices including a selection of speakers, microphones and a link to the Audio Settings dialog.</li>
	<li>Click "Audio Settings...” to open the audio settings dialog, which shows the options for joining by telephone or computer.  Choosing the tab "Join by Computer" and clicking the link "Test computer mic and speakers" brings up the audio settings. </li>
	<li>Test the speaker volume by clicking on "Test Speakers".  If you don't hear anything, make sure the volume is up and the correct speaker option is selected.</li>
	<li>Test the microphone volume by clickin on "Test Microphone".  This will record for about 20 seconds then play it back for you. Normally the microphone volume will be automatically set as you test.  If you don't hear anything on playback, make sure the correct microphone is selected.</li>
	</ol>
		QUIZ:
	<ol class="quiz">
		<li><div>You want to test your audio.  How do you get to the Audio Settings screen? </div>
			<input type="radio" name="q1" value="1">a) Click the caret next to the microphone icon </br>
			<input type="radio" name="q1"  value="2">b) Choose 'Audio Settings...' from the popup menu</br>
			<input type="radio" name="q1"  value="3">c) Click 'Test computer mic and speakers' on the Audio Options screen</br>
			<input type="radio" name="q1"  value="4">d) All of the above</br>
		</li>
	</ol>
	QUIZ:
	<ol class="quiz">
		<li><div>How do you test your audio</div>
			<input type="radio" name="q2" value="1">a) click 'Test Microphone', talk into microphone for 20 seconds and listen to the result. </br>
			<input type="radio" name="q2"  value="2">b) make sure the correct speakers and mic are selected, click 'Test Speakers' and adjust the volume, click 'Test Microphone, talk into the mic, then wait and listen to the result.</br>
			<input type="radio" name="q2"  value="3">c) Turn on your microphone and ask other participants if they can hear you.</br>
			<input type="radio" name="q2"  value="4">d) Test your audio when you notice that something has gone wrong.</br>
		</li>
	</ol>

<!-- video settings -->
	<h3> Video Settings</h3>
	<p>Zoom can use your webcam to let other participants see you.  If you are using a camera in your meeting the following guidelines
	will help your improve the quaility of the video image.</p>
	<p>When your video is on, you will see your camera’s image on the screen. You can see that it is on because it will be visible in the meeting window.
	Position the camera so that people are on shown in the frame and they are not in shadow. If there is a choice, position subjects where the light
	falls in front of their faces and not behind them.</p>
	<p><b>Video Settings</b></p>
	<p>Video settings allows you to select and test your video camera, as well as change preferences for how your video is shown.</p>
	<p>To change video settings</p>
	<ol>
	<li>Open the Video Options menu by clicking on the caret next to the camera icon at the bottom of the Zoom window. 
	You will be shown a menu, with choices including a selection of cameras and a link to the Video Settings dialog. </li> 
	<li>Click “Video Settings...” to open the video settings dialog, which shows a live image from your camera and controls to change cameras and change settings to reflect your personal preferences. </li>
	</ol>
	QUIZ:
	<ol class="quiz">
		<li><div>You want to test your video.  How do you get to the Video Settings screen? </div>
			<input type="radio" name="q1" value="1">a) Click the caret next to the camera icon and choose 'Video Settings...' from the popup menu</br>
			<input type="radio" name="q1"  value="2">b) Turn on your camera using the camera icon and look at your image in the meeting window
			<input type="radio" name="q1"  value="3">c) Click 'Test webcam and microphone' on the Video Options screen</br>
			<input type="radio" name="q1"  value="4">d) both a and b</br>
		</li>
	</ol>
</div>
<!-- <button type="submit"  data-toggle="collapse" class="btn btn-warning btn-lg">Submit</button> -->
