<!-- Full Width Image Header -->
<header class = "content header-image">
	<img src = "/images/content3.jpg" id = "content-header-image">
	<h1 class= "big-header2">Troubleshooting</h1>
</header>

<div class = contentsection-container>
	<div class="row">
		<div class="col-md-3">
		 	<img src="/icons/tools-icon.png" width="250" >
		</div>
		<div class="col-md-9">
			<h3 class = "mid-header2"> Audio </h3>
			<table class = "reg-text2" style = "font-size:124%;">
			<thead>
				<tr><th>Problem</th><th>Reason</th><th>Solution</th></tr>
			</thead>
			<tbody>
			<tr>
			<td>1.No microphone icon</td>
			<td>Audio is not connected to the meeting</td>
			<td>Go to Audio Options and connect to phone or computer audio</td>
			</tr>
			<tr>
			<td rowspan="2"> 2.Microphone icon, but no sound coming from meeting</td>
			<td> Speaker volume is too low or muted</td>
			<td> Use computer's audio settings or Zoom's audio settings to adjust volume</td>
			</tr>
			<tr>
			<td>Wrong speakers selected </td>
			<td>Use Zoom audio settings to select the proper speakers</td>
			</tr>
			<tr>
			<td rowspan="4"> 3. Microphone icon, but others can't hear me</td>
			<td> Microphone is muted </td>
			<td>Click on mic icon to unmute</td>
			</tr>
			<tr>
			<td>Microphone volume is too low </td>
			<td rowspan="2"> Go to audio settings and manually increase mic volume</td>
			</tr>
			<tr>
			<td>Computer may have other microphone settings to try, may need your local IT support to adjust - use phone</td>
			</tr>
			<tr>
			<td>No microphone selected</td>
			<td> Microphone driver not enabled or installed, may need your local IT support to adjust - try rebooting. If this doesn't work, use phone</td>
			</tr>
			<tr>
			<td rowspan="2"> 4.Echo</td>
			<td>More than one device in your room joined the meeting by audio. </td>
			<td rowspan="2"> Turn off speakers and mics from all but one device</td>
			</tr>
			<tr>
			<td>Unjoin audio on all but one device</td>
			</tr>
			<tr>
			<td> 5. Slight/occasional echo </td>
			<td> Network delay, low bandwith, WiFi </td>
			<td> This will usually fix itself over time. Use phone for greatly improved audio</td>
			</tr>

			</tbody>
			</table>
			<p class = "reg-text2" style = "color:#3E4754"><em>For most audio problems it is easier to switch to using a telephone for audio.  Troubleshooting can be done later. </em></p>


			
			<!-- video troubleshoot -->
			<h3 class = "mid-header2"> Video </h3>
				<table class = "reg-text2" style = "font-size:124%;"">
			<thead>
			<tr><th>Problem</th><th>Reason</th><th>Solution</th></tr>
			</thead>
			<tbody>
			<tr>
			<td rowspan="2"> 1. No camera icon</td>
			<td> Camera is not connected </td>
			<td> Connect your camera to a different USB port and wait for the camera icon to appear. You may have to click the icon to turn on the camera</td>
			</tr>
			<tr>
			<td>Camera driver is not loaded or camera is not compatible with Zoom</td>
			<td>You will not use the camera for this session, but contact your local IT support to fix the problem for next time.</td>
			</tr>
			<tr>
			<td rowspan="3"> 2.Camera icon and no video (black video)</td>
			<td> Camera is turned off </td>
			<td> Click on the camera icon to turn the image on. </td>
			</tr>
			<tr>
			<td> Camera's lens is covered</td>
			<td> Remove lens cap or obstruction</td>
			</tr>
			<tr>
			<td>Camera is being used by another program </td>
			<td>Close other program that uses video (this incudes the camera control software that may automatically load when you plug in the camera).  If this doesn't work, reboot the computer.</td>
			</tr>
			</tbody>
			</table>
			<p class = "reg-text2" style = "color:#3E4754"><em>For most camera issues not solved by removing the lens cap or choosing a different camera, you will not be using the camera for this session, but will need to troubleshoot with your local IT support person.</em></p>
		</div> <!-- /col -->
	</div> <!-- /row -->
</div>

