<!-- Full Width Image Header -->
<header class = "content header-image">
	<img src = "/images/content3.jpg" id = "content-header-image">
	<h1 class= "content-header" style = "font-size: 5rem; text-align:center;">Menu Options</h1>
</header>

<div class = contentsection-container>
	<div id = "content-text6">
		<div class="row">
			<div class="col-md-4">
			 	<img src="/icons/menu-icon.png" width="250" >
			</div>
			<div class="col-md-8">
				<h3 class = "content-overview">The Zoom Toolbar</h3>
				<em class = "content-overview"> The Zoom toolbar is located at the bottom of the Zoom window.</em>
				<ul class = "content-overview">
					<li id="mute"><b style = "color: red;">Mute/Unmute Audio</b> - to avoid extraneous noise, unmute your mic when you are ready to speak, then mute it when you are done.</li>
					<li id="invite"><b>Invite</b> -  Invite more people to join your meeting. </li>
					<li id="participants"><b> Participants</b> - View a list of all participants, raise your hand and change your screen name.</li>
					<li id="share"><b>Share Screen</b> - Allow other participants to see your screen./li>
					<li id="chat"><b>Chat</b> - Send text messages to other participants.</li>
					<li id="leave"><b>Leave the meeting</b> - Removes yourself from the meeting.</li>
				</ul>
				<h3 class = "content-overview">Screen Views</h3>
					<em class = "content-overview"> The Gallery View/Speaker View and Full Screen buttons are located at the upper right corner of Zoom window.\</em>
				<ul class = "content-overview">
					<li id = "gallery-view"> <b>Gallery View</b> - view all participants on screen at once</li> 
					<li id = "speaker-view"> <b>Speaker View</b> - makes the speaker larger than other participants on screen</li> 
					<li id = "fullscreen-view"><b>Full Screen</b> - Shows Zoom in full-screen mode.</li>
				</ul>
			</div> <!-- /col -->
		</div> <!-- /row -->
	</div>
</div>