<!-- Full Width Image Header -->
<header class = "content header-image">
	<img src = "/images/content3.jpg" id = "content-header-image">
	<h1 class= "big-header2">Overview</h1>
</header>

<div class = contentsection-container>
	<div class="row">
		<div class="col-md-4">
		 <img src="/icons/perspective-icon.png" width="250">
		</div>
		<div class="col-md-8">
			<p class="reg-text2" style = "font-size: 170%;"> <b>In this tutorial, you will...</b></p>
			<br>
			<ul>
				<li><h4 class = "mid-header2">Download and install the Zoom application.</h4><p class = "reg-text2">Learn how to download and install the Zoom Desktop Application</p></li>
				<li><h4 class = "mid-header2">Join Meeting</h4><p class = "reg-text2">Learn to join two ways to join a zoom meeting in progress</p></li>
				<li><h4 class = "mid-header2">Zoom Toolbar</h4><p class = "reg-text2">Navigate Zoom's menu</p></li>
				<li><h4 class = "mid-header2">Settings</h4><p class = "reg-text2">Accessing audio and video settings</p></li>
				<li><h4 class = "mid-header2">Troubleshooting</h4><p class = "reg-text2">Common problems and solutions</p></li>
			</ul>
			<p class = "reg-text2"> In order to have a successful meeting, don't forget to test and troubleshoot your audio and video!</p>
			<p class = "reg-text2">For additional information visit the Zoom's Help Center resources:</p>
			<a class = " content-link" href="https://support.zoom.us/hc/en-us">https://support.zoom.us/hc/en-us</a>
		</div> <!-- /col -->
	</div> <!-- /row -->
	<div class="row">
		<div class="col-md-4" >&nbsp;</div>
		<div class="col-md-8">
			<ul class="pager">
				<li class="previous"><a href="/content">Previous - Home</a></li>
				<li class="next"><a href="/contentsection/1/">Next - Download &amp; Install</a></li>
			</ul>
		</div>
	</div>
</div>

