<!-- Full Width Image Header -->
<header class = "content header-image">
        <div class="headline">
        <div class="container">
     	    <h1 class= "content-header" style = "font-size: 86px">Join Meeting </h1>
        </div>
    </div>
</header>
<div class = contentsection-container>
	<div id = "content-text3"> 
		<div id = "content-text2">
		<div class="row">
			<div class="col-xs-4">
			 	pic
			</div>
			<div class="col-xs-8">
				<h3 class = "content-overview">What You Will Need</h3>
				<p class = "content-overview">To join a Zoom meeting you will need a link to the meeting or a Meeting ID.</p>  
				<code>Examples:<ul><li>Zoom link: https://zoom.us/j/763255600</li><li>Meeting ID:  763 255 600</li></ul></code>
				<h3 class = "content-overview">Join with a Zoom link:</h3>

				<p class = "content-overview"> Click on Zoom link. If Zoom app is installed, your browser will take you directly to the active Zoom meeting. If this doesn't work, click on "download & run Zoom." or go here to see how to download the app <a href = "/contentsection/1/">Download and Install. </a> </p>

				<h3 class = "content-overview">Join from Zoom Application:</h3>
				<ol class = "content-overview">
					<li>Open Zoom App</li>
					<li>Click on Join button</li>
					<li>After you launch the app, you have two options. You can select "Join a Meeting" or "Sign In."  To join a meeting-in-progress click on "Join a meeting." </li>
					<li>Enter the Meeting ID and your name</li>
				</ol>

				<br />
				<h3 class = "content-overview">Joining Audio</h3>
				<p class = "content-overview">
				To allow other meeting participants to hear you in a Zoom Meeting, you will need to add your audio source to the meeting, a process called “joining audio.” There are two ways to do this, joining via computer and joining via telephone. 

				<h4 class = "content-overview">Join Audio Conference by Computer</h4>
				<em class = "content-overview">User your computer microphone and speakers and test that it is working.</em>
				<ol class = "content-overview">
					<li>After joining or starting a meeting, click “Join Audio by Computer” to connect your computer’s speaker and microphone to the Zoom Meeting. </li>
					<li>Test your audio connection before joining by clicking the “Test Computer Audio” link. The audio preferences will open. </li>
					<li>You can test the volume and output of your speaker device by select "Test Speaker". If you cannot hear, change the output source by selecting a different speaker device.</li>
					<li>Speak at a normal level and check the Input Level meter to see if your computer is registering your voice. A green bar will raise and lower as you speak if it is working correctly. If the audio is not registering, change the input source by selecting a different microphone from the drop down list.</li>
					<li>You can select "Automatically adjust microphone settings" to adjust the microphone level based on your speech level.</li>
				</ol>

				<h4 class = "content-overview">Join Audio Conference with Telephone</h4>
				<em class = "content-overview">Use a telephohe for audio</em>
				<div id = "content-text5">
					<ol class = "content-overview">
						<li> Click the Phone Call tab </li>
						<li> Dial one of the phone numbers indicated </li>
						<li> Enter the Meeting ID followed by # </li>
						<li> Enter your unique Participant ID followed by # </li>
					</ol>
			</div> <!-- /col -->
		</div> <!-- row -->
	</div>
</div>

