<!-- Full Width Image Header -->
<header class = "content header-image">
	<img src = "/images/content3.jpg" id = "content-header-image">
	<h1 class= "content-header" style = "font-size: 5rem; text-align:center;">Download and Install</h1>
</header>

<div class = contentsection-container>
	<div id = "content-text1">
		<div class="row">
			<div class="col-md-4" style="overflow:none">
			 <img src="/icons/cloud-download-icon.png" width="250">
			</div>
			<div class="col-md-8">
				<h3 class = "content-overview">Staring Out</h3>

				<p class = "content-overview">To use the Zoom cloud video conferencing platform on your computer, you will need to download and install the Zoom desktop application and learn to use Zoom.  This tutorial will help get you started, but follow the links below for additional resources. </p>

				<h3 class = "content-overview">User Guides</h3>
				<ul class = "content-overview">		
				    <li>Download the Getting Started with PC and Mac Guide</li>
				    <li>Watch the Getting Started Videos</li>
				    <li>Join our Weekly Zoom Meetings and Webinar training</li>
				    <li>Join a test meeting</li>
				</ul>

				<h3 class = "content-overview">Download Zoom</h3>
				<p class = "content-overview"><a class = "content-link" href="https://www.zoom.us/download/">https://www.zoom.us/download</a></p>
				<em class = "content-overview">After installing Zoom, if your camera or microphone are not working, ask your on-site IT support team for assistance. </em>	
			</div> <!-- /col -->
		</div> <!-- /row -->
		
	</div>
</div>
