<header class = "content header-image">
        <div class="headline">
        <div class="container">
        	<h1 class= "content-header" style = "font-size: 86px">Troubleshooting </h1>
        </div>
    </div>
</header>
<div class = contentsection-container>
	<div id = "content-text7">
		<h3> Audio </h3>
		<table>
		<thead>
			<tr><th>Problem</th><th>Reason</th><th>Solution</th></tr>
		</thead>
		<tbody>
		<tr>
		<td style = "border-bottom: 1px solid black;">1.No microphone icon</td>
		<td style = "border-bottom: 1px solid black;">Audio is not connected to the meeting</td>
		<td style = "border-bottom: 1px solid black;">Go to Audio Options and connect to phone or computer audio</td>
		</tr>
		<tr>
		<td> 2.Microphone icon, but no sound coming from meeting</td>
		<td> Speaker volume is too low or muted</td>
		<td> Use computer's audio settings or Zoom's audio settings to adjust volume</td>
		</tr>
		<tr>
		<td style = "border-bottom: 1px solid black;"></td>
		<td style = "border-bottom: 1px solid black;">Wrong speakers selected </td>
		<td style = "border-bottom: 1px solid black;">Use Zoom audio settings to select the proper speakers</td>
		</tr>
		<tr>
		<td> 3. Microphone icon, but others can't hear me</td>
		<td> Microphone is muted </td>
		<td>Click on mic icon to unmute</td>
		</tr>
		<tr>
		<td></td>
		<td>Microphone volume is too low </td>
		<td> Go to audio settings and manually increase mic volume</td>
		</tr>
		<tr>
		<td></td>
		<td></td>
		<td>Computer may have other microphone settings to try, may need your local IT support to adjust - use phone</td>
		</tr>
		<tr>
		<td style = "border-bottom: 1px solid black;"></td>
		<td style = "border-bottom: 1px solid black;">No microphone selected</td>
		<td style = "border-bottom: 1px solid black;"> Microphone driver not enabled or installed, may need your local IT support to adjust - try rebooting. If this doesn't work, use phone</td>
		</tr>
		<tr>
		<td> 4.Echo</td>
		<td>More than one device in your room joined the meeting by audio. </td>
		<td> Turn off speakers and mics from all but one device</td>
		</tr>
		<tr>
		<td style = "border-bottom: 1px solid black;"></td>
		<td style = "border-bottom: 1px solid black;"></td>
		<td style = "border-bottom: 1px solid black;">Unjoin audio on all but one device</td>
		</tr>
		<tr>
		<td> 5. Slight/occasional echo </td>
		<td> Network delay, low bandwith, WiFi </td>
		<td> This will usually fix itself over time. </td>
		</tr>
		<tr>
		<td></td>
		<td></td>
		<td>Use phone for greatly improved audio</td>
		</tr>
		</tbody>
		</table>
		<p><em>For most audio problems it is easier to switch to using a telephone for audio.  Troubleshooting can be done later. </em></p>


		
		<!-- video troubleshoot -->
		<h3> Video </h3>
			<table>
		<thead>
		<tr><th>Problem</th><th>Reason</th><th>Solution</th></tr>
		</thead>
		<tbody>
		<tr>
		<td> 1. No camera icon</td>
		<td> Camera is not connected </td>
		<td> Connect your camera to a different USB port and wait for the camera icon to appear. You may have to click the icon to turn on the camera</td>
		</tr>
		<tr>
		<td style = "border-bottom: 1px solid black;"></td>
		<td style = "border-bottom: 1px solid black;">Camera driver is not loaded or camera is not compatible with Zoom</td>
		<td style = "border-bottom: 1px solid black;">You will not use the camera for this session, but contact your local IT support to fix the problem for next time.</td>
		</tr>
		<tr>
		<td> 2.Camera icon and no video (black video)</td>
		<td> Camera is turned off </td>
		<td> Click on the camera icon to turn the image on. </td>
		</tr>
		<tr>
		<td></td>
		<td> Camera's lens is covered</td>
		<td> Remove lens cap or obstruction</td>
		</tr>
		<tr>
		<td></td>
		<td>Camera is being used by another program </td>
		<td>Close other program that uses video (this incudes the camera control software that may automatically load when you plug in the camera).  If this doesn't work, reboot the computer.</td>
		</tr>
		</tbody>
		</table>
		<p><em>For most camera issues not solved by removing the lens cap or choosing a different camera, you will not be using the camera for this session, but will need to troubleshoot with your local IT support person.</em></p>
	</div>
</div>

