<header class = "content header-image">
        <div class="headline">
        <div class="container">

        </div>
    </div>
</header>
<div class = contentsection-container>
	<div id = "content-text2">
	<p> <span id = "content-refer">Follow these steps </span>to ensure that you always have a successful Zoom meeting: </p>
	<ol>
	<li>Connect to the meeting by clicking on a link or opening the Zoom desktop application</li>
	<li>Test your audio </li> 
	<li>Participate in the meeting</li>
	</ol>
	<p>Testing your audio is critical because there is frequently more than one way to connect audio on your computer.  To hear the meeting audio, you will have to make sure that you are using the correct speakers and microphones and that those devices are operating correctly.  Video is a little bit easier because you can easily see if it is working in the meeting window.  Audio issues aren't always obvious. Make sure you give yourself enough time to fix any issues by connecting to the meeting up to 10 minutes early.</p>
	<p>The following sections will go into more detail about each step.</p>
	</div>
</div>