<!-- Full Width Image Header -->

<header class = "content header-image">
	<img src = "/images/content3.jpg" id = "content-header-image">
	<h1 class= "big-header2">Download and Install</h1>
</header>

<div class = contentsection-container>
	<div class="row">
		<div class="col-md-4">
		 <img src="/icons/cloud-download-icon.png" width="250">
		</div>
		<div class="col-md-8">
			<h3 class = "mid-header2">Starting Out</h3>

			<p class = "reg-text2">To use the Zoom cloud video conferencing platform on your computer, you will need to download and install the Zoom desktop application and learn to use Zoom.  This tutorial will help get you started, but follow the links below for additional resources. </p>

			<h3 class = "mid-header2">User Guides</h3>
			<ul class = "reg-text2">		
			    <li>Download the Getting Started with PC and Mac Guide</li>
			    <li>Watch the Getting Started Videos</li>
			    <li>Join our Weekly Zoom Meetings and Webinar training</li>
			    <li>Join a test meeting</li>
			</ul>

			<h3 class = "mid-header2">Download Zoom</h3>

			<div class="course-graphic">
				<div class="course-grapghic-image">
					<img src="/icons/download-page.png"  >
				</div>
				<em style = "font-size:120%;font-family: 'Josefin Sans', sans-serif;"><br/>After installing Zoom, if your camera or microphone are not working, <br /> ask your on-site IT
				 support team for assistance </em>
			</div>
		</div> <!-- /col -->
	</div> <!-- /row -->
	<div class="row">
		<div class="col-md-4" >&nbsp;</div>
		<div class="col-md-8">
			<ul class="pager">
				<li class="previous"><a href="/contentsection/10/">Previous - Overview</a></li>
				<li class="next"><a href="/contentsection/3/">Next - Join Meeging</a></li>
			</ul>
		</div>
	</div>
</div>
