<!-- Full Width Image Header -->
<header class = "content header-image">
	<img src = "/images/content3.jpg" id = "content-header-image">
	<h1 class= "big-header2">Settings</h1>
</header>

<div class = contentsection-container>
	<div class="row">
		<div class="col-md-3">
		 	<img src="/icons/settings-icon.png" width="250" >
		</div>
		<div class="col-md-9">
			<h3 class = "mid-header2" style = "color">Audio Settings</h3>
			
			<ol class="reg-text2">
				<li>
					Click the arrow next to the microphone on the left hand side in the meeting toolbar and then "Audio Options"
					<div class="course-graphic">
						<div class="course-graphic-image">
							<img src="/icons/audio-options.png">
						</div>
						<em>Select "Audio Options"</em>
					</div> <!-- /course-graphic -->
				</li>
				<li>
					Test the volume and output of your speaker device by select "Test Speaker". If you cannot hear, change the output source by selecting a different speaker device.

					<div class="course-graphic">
						<div class="course-graphic-image">
							<img src="/icons/test-audio.png"  >
						</div>
						<em>Audio settings dialog</em>
					</div>
				</li>
				<li>
					Test the speaker volume by clicking "Test Speaker".  If you do not hear anything, increase the Outut Volume or change the output source by selecting a different speaker device.
				</li>
				<li>
					Test the microphone volume by clicking "Test Mic".  This will record audio and play it back. Speak at a normal level and check the Input Level meter to see if your computer is registering your voice. A green bar will raise and lower as you speak if it is working correctly. If the audio is not registering, change the input source by selecting a different microphone from the drop down list.
				</li>
				<li>
					Select "Automatically adjust microphone settings" to adjust the microphone level based on your speech level.
				</li>
			</ol>
		
			<!-- video settings --> 
			<h3 class = "mid-header2">Video Settings</h3>
			<ol class="reg-text2">
				<li>
					Click the arow next to the camera icon at the bottom left in Zoom toolbar, then the “Video Settings”
					<div class="course-graphic">
						<div class="course-graphic-image">
							<img src="/icons/video-settings.png">
						</div>
						<em>Select "Video Settings"</em>
					</div> <!-- /course-graphic -->
				</li> 
				<li>
					Here you can select your camera and preview your video and chabge other video settings.
					<div class="course-graphic">
						<div class="course-graphic-image">
							<img src="/icons/test-video.png">
						</div>
						<em>Video settings dialog</em>
						</div>
					</div> <!-- /course-graphic -->
				</li>
			</ol>
		</div> <!-- /col -->
	</div> <!-- /row -->
	<div class="row">
		<div class="col-md-3" >&nbsp;</div>
		<div class="col-md-9">
			<ul class="pager">
				<li class="previous"><a href="/contentsection/6/">Previous - Menu</a></li>
				<li class="next"><a href="/contentsection/7/">Next - Troubleshooting</a></li>
			</ul>
		</div>
	</div>
</div>