  <header class = "content header-image">
            <div class="headline">
            <div class="container">
        		<h1 class= "content-header" style = "font-size: 86px">Audio & Video Settings</h1>       	
            </div>
        </div>
    </header>
    <div class = contentsection-container>
		<div id = "content-text4">
		<h3>Audio</h3>
		<p> If you are using telephone for audio, skip this section. If you are using computer: </p>
	<!-- 	<p><b>Audio Options</b></p> -->
		<p>To change<b> Audio Settings</b></p>
		<ol>
		<li> Click the caret next to the microphone icon at the bottom of the Zoom window. </li>
		<li> Click Audio Options tab.</li>
		<li>Click the "Test computer mic and speakers". </li>
		<li>Test the speaker volume by clicking "Test Speaker".  If you don't hear anything, make sure the volume is up and the correct speaker option is selected.</li>
		<li>Test the microphone volume by clicking "Test Mic".  This will record audio and play it back. If you don't hear anything on playback, make sure the correct microphone is selected.</li>
		</ol>
	
		<!-- video settings --> 
			<h3> Video</h3>
			<p>	Position the camera so that people are shown in the frame and are not in shadow. If there is a choice, position subjects where the light
			falls in front of their faces and not behind them.</p>
			<p>To change video settings</p>
			<ol>
			<li>Click the caret next to the camera icon at the bottom of the Zoom window. </li> 
			<li>Click “Video Settings” tab to open the video settings dialog </li>
			<li> You can change your preferences here. </li>
			</ol>
			</div>
