<header class = "content header-image">
        <div class="headline">
        <div class="container">
        	<h1 class= "content-header" style = "font-size: 86px">Menu Options</h1>
        </div>
    </div>
</header>
<div class = contentsection-container>
	<div id = "content-text6">
		<p> At the bottom of the Zoom window:</p>
		<ul>
		<li id="mute"><b style = "color: red;">Mute/Unmute  Audio</b> - to avoid noise turn on your mic when you want to talk, then turn it off when you are done.</li>
		<li id="invite"><b>Invite</b> -  to invite more people to join your meeting send them an email with connection information. </li>
		<li id="participants"><b> Participants</b> - here you can raise your hand and change your screen name</li>
		<li id="share"><b>Share Screen</b> - depending on how the host has set up the meeting, you may share your screen or alert the host that you would like to share your screen</li>
		<li id="chat"><b>Chat</b> - opens the text chat box</li>
		<li id="leave"><b>Leave the meeting</b> - removes you from the meeting.</li>
		</ul>
		<p> On upper right corner: </p>
		<ul>
			<li id = "gallery-view"> <b>Gallery View</b> - view all participants on screen at once</li> 
			<li id = "speaker-view"> <b>Speaker View</b> - makes the speaker larger than other participants on screen</li> 
		</ul>
	</div>
</div>