<h2 class = "content-header">Download and Install</h2>
<div id = "content-text1"> 
	<p>Download and Install the Zoom desktop application</p>
	<p>To use Zoom on a desktop computer, you will need the Zoom application called "Start Zoom"
	If you click on a zoom meeting link, the application will automatically download if 
	it is not already on your computer.</p>
	<p>You can also download the software directly here: <a class = "content-link" href="https://www.zoom.us/download/">https://www.zoom.us/download</a></p>
	<p style = "color: 	
red;">It is important to know that if there are multiple users on a single computer, Zoom will need to be downloaded and installed by each user.</p>
	<p><b>A note about hardware configuration</b></p>
	<p>To prepare your computer to use a camera and microphone, consult with your local IT support person to install any hardware that you are not familiar with.  Once your equipment works locally, it will work with Zoom. </p>	

	QUIZ:
	<form>
		<div class = "form-group">
			<ol class="quiz">
				<h4>To download zoom, you must</h4>
				<input class="form-check-input" type="hidden" name="quizzNum" value="0">	
				<input class = "form-check-input" type="radio" name="q1" value="0"> a) click on a Zoom meeting link to start the download</br>
				<input class = "form-check-input" type="radio" name="q1"  value="1"> b) go to the direct Zoom download link https://www.zoom.us/download</br>
				<input class = "form-check-input" type="radio" name="q1"  value="2"> c) Ask IT to install Zoom for all users</br>
				<input class = "form-check-input" type="radio" name="q1"  value="3"> d) a and b</br>
			</ol>
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>

<!-- <button type="submit" data-toggle="collapse" class="btn btn-warning btn-lg" data-target="#content-text1">Submit</button>
 -->