<!-- Full Width Image Header -->
<header class = "content header-image">
        <div class="headline">
        <div class="container">
        	<h1 class= "content-header" style = "font-size: 86px">Download and Install </h1>
        </div>
    </div>
</header>
<div class = contentsection-container>
	<div id = "content-text1">
		<p>If you don't have Zoom application on your computer, you can download it directly here: <a class = "content-link" href="https://www.zoom.us/download/">https://www.zoom.us/download</a></p>
		<p><b>A note about hardware configuration</b></p>
		<p>To prepare your camera and microphone, consult with your local IT support team.  Once your equipment works locally, it will work with Zoom. </p>	
	</div>
</div>
