<<<<<<< Updated upstream
=======
<<<<<<< HEAD
<!-- Overview -->
<div id = "content-text10">
	<div class = "content-overview" style="font-size: 3rem;">Using Zoom</div>
	<span class = "content-overview" style="font-weight: 500; ">In this tutorial, </span> <span class = "content-overview">you will...</span>
	
	<ul class = "content-overview">
		<li><h4>Download and install the Zoom application.</h4>Learn how to download and install the Zoom Desktop Application</li>
		<li><h4>Join Meeting</h4>Learn to join two ways to join a zoom meeting in progress</li>
		<li><h4>Zoom Toolbar</h4>Navigate Zoom's menu</li>
		<li><h4>Settings</h4>Accessing audio and video settings</li>
		<li><h4>Troubleshooting</h4>Common problems and solutions</li>
	</ul>
	<p class = "content-overview"> In order to have a successful meeting, don't forget to test and troubleshoot your audio and video!</p>
	<p class = "content-overview">For additional information visit the Zoom's Help Center resources:</p>
	<a class = "content-overview content-link" href="https://support.zoom.us/hc/en-us">https://support.zoom.us/hc/en-us</a>
</div>
=======
>>>>>>> Stashed changes
<!-- Full Width Image Header -->
<header class = "content header-image">
        <div class="headline">
        <div class="container">
        	<h1 class= "content-header" style = "font-size: 86px">Course Overview </h1>
        </div>
    </div>
</header>
<div class = contentsection-container>
	<div id = "content-text10">
		<p >This course is a tutorial on using the Zoom app. The following steps were reviewed in the course:</p>
		<ol >
		<li>Download and install the Zoom application.</li>
		<li>Run the Zoom application</li>
		<li>Set up and test your audio</li>
		<li>Set up and test your camera</li>
		<li>Participate in the meeting, using the menu and screen controls to get the most out of Zoom</li>
		<li>Leave the meeting</li>
		</ol>
		<p > In order to have a successful meeting, don't forget to test and troubleshoot your audio and video!</p>
		<p>For additional information visit the Zoom's Help Center resources:</p>
		<a class = "content-link" href="https://support.zoom.us/hc/en-us">https://support.zoom.us/hc/en-us</a>
	</div>
<<<<<<< Updated upstream
</div>
=======
</div>
>>>>>>> origin/master
>>>>>>> Stashed changes
