<!-- Full Width Image Header -->
<header class = "content header-image">
	<img src = "/images/content3.jpg" id = "content-header-image">
	<h1 class= "course-title">Join Meeting</h1>
</header>

<div class = contentsection-container>
	<div class="row">
		<div class="col-md-4">
		 	<img src="/icons/join-icon.png" width="250" >
		</div>
		<div class="col-md-8">
			<h3>What You Will Need</h3>
			<p class = "content-overview">To join a Zoom meeting you will need a link to the meeting or a Meeting ID.</p>  
			<code>Examples:<ul><li>Zoom link: https://zoom.us/j/763255600</li><li>Meeting ID:  763 255 600</li></ul></code>
			<h3 class = "content-overview">Join with a Zoom link:</h3>

			<p class = "content-overview"> Click on Zoom link. If Zoom app is installed, your browser will take you directly to the active Zoom meeting. If it is taking too long, click on "download & run Zoom." or go here to see how to download the app <a href = "/contentsection/1/">Download and Install.</p>
			<div class="course-box">
				<p><a href="https://www.zoom.us/download/"><h5>Zoom download link: https://www.zoom.us/download</h5></a></p>
			</div>
			<div class="course-graphic">
				<div class="course-graphic-image">
					<img src="/icons/download&install.png"  >
				</div>
				<em>Download & run Zoom link</em>
			</div>
			
			<h3>Join from Zoom Application:</h3>
			<div class="course-graphic">
				<div class="course-graphic-image">
					<img src="/icons/zoom-home.png"  >
				</div>
				<em>Click Join button</em>
			</div>
			<ol class = "content-overview">
				<li>Open Zoom App</li>

				<li>Click on Join button</li>
				<li>After you launch the app, you have two options. You can select "Join a Meeting" or "Sign In."  To join a meeting-in-progress click on "Join a meeting." </li>
				<li>Enter the Meeting ID and your name</li>
			</ol>

			<br />
			<h3>Joining Audio</h3>
			<p class = "content-overview">
			To allow other meeting participants to hear you in a Zoom Meeting, you will need to add your audio source to the meeting, a process called “joining audio.” There are two ways to do this, joining via computer and joining via telephone. 

			<br /><br />
			<h4>Join Audio Conference by Computer</h4>
			

			<ol class = "content-overview">
				
				<li>
					Test your audio connection before joining by clicking the “Test Computer Audio” link. The audio preferences will open. 
					<div class="course-graphic">
						<div class="course-graphic-image">
							<img src="/icons/join-computer-test.png"  >
						</div>
						<em>Test that your sound is working</em>
					</div>
					
				</li>
				<li>
					Test the volume and output of your speaker device by select "Test Speaker". If you cannot hear, change the output source by selecting a different speaker device.

					<div class="course-graphic">
						<div class="course-graphic-image">
							<img src="/icons/test-audio.png"  >
						</div>
						<em>Audio settings dialog</em>
					</div>
				</li>
				<li>
					Test the speaker volume by clicking "Test Speaker".  If you do not hear anything, increase the Outut Volume or change the output source by selecting a different speaker device.
				</li>
				<li>
					Test the microphone volume by clicking "Test Mic".  This will record audio and play it back. Speak at a normal level and check the Input Level meter to see if your computer is registering your voice. A green bar will raise and lower as you speak if it is working correctly. If the audio is not registering, change the input source by selecting a different microphone from the drop down list.
				</li>
				<li>
					Select "Automatically adjust microphone settings" to adjust the microphone level based on your speech level.
				</li>
				<li>
					Close the settings dialog and click “Join Audio by Computer” to connect your computer’s speaker and microphone to the Zoom Meeting. 
					<div class="course-graphic">
						<div class="course-graphic-image">
							<img src="/icons/join-computer.png"  >
						</div>
						<em>Join using computer audio</em>
					</div>
				</li>
			</ol>

			<br />
			<h4>Join Audio Conference with Telephone</h4>
			<div class="course-graphic">
				<div class="course-graphic-image">
					<img src="/icons/join-phone.png"  >
				</div>
				<em>Use a telephohe for audio</em>
			</div>

			<div id = "content-text5">
				<ol class = "content-overview">
					<li> Click the Phone Call tab </li>
					<li> Dial one of the phone numbers indicated </li>
					<li> Enter the Meeting ID followed by # </li>
					<li> Enter your unique Participant ID followed by # </li>
				</ol>
		</div> <!-- /col -->
	</div> <!-- row -->
</div>

