<!-- Full Width Image Header -->
<header class = "content header-image">
        <div class="headline">
        <div class="container">
        	<h1 class= "content-header" style = "font-size: 86px">Course Overview </h1>
        </div>
    </div>
</header>
<div class = contentsection-container>
	<div id = "content-text10">
		<p >This course is a tutorial on using the Zoom app. The following steps were reviewed in the course:</p>
		<ol >
		<li>Download and install the Zoom application.</li>
		<li>Run the Zoom application</li>
		<li>Set up and test your audio</li>
		<li>Set up and test your camera</li>
		<li>Participate in the meeting, using the menu and screen controls to get the most out of Zoom</li>
		<li>Leave the meeting</li>
		</ol>
		<p > In order to have a successful meeting, don't forget to test and troubleshoot your audio and video!</p>
		<p>For additional information visit the Zoom's Help Center resources:</p>
		<a class = "content-link" href="https://support.zoom.us/hc/en-us">https://support.zoom.us/hc/en-us</a>
	</div>
</div>