<!-- Full Width Image Header -->
 <header class = "content header-image">
            <div class="headline">
            <div class="container">
        		<h1 class= "content-header" style = "font-size: 86px">Audio & Video Settings</h1>       	
            </div>
        </div>
    </header>
    <div class = contentsection-container>
		<div id = "content-text3">
		<div class="row">
			<div class="col-xs-4">
			 	pic
			</div>
			<div class="col-xs-8">
				<h3 class = "content-overview">Audio Settings</h3>
				<ol class = "content-overview">
					<li>Click the arrow next to the microphone on the left hand side in the meeting toolbar</li>
					<li>Click "Audio Options" menu item.</li>
					<li>Click the "Test computer mic and speakers" link. </li>
					<li>Test the speaker volume by clicking "Test Speaker".  If you do not hear anything, increase the Outut Volume or change the output source by selecting a different speaker device.</li>
					<li>Test the microphone volume by clicking "Test Mic".  This will record audio and play it back. If you don't hear anything on playback, increase the Input Volume or change the input source by changing the microphone device.</li>
				</ol>
			
				<!-- video settings --> 
				<h3 class = "content-overview">Video Settings</h3>
				<ol class = "content-overview">
					<li>Click the arow next to the camera icon at the bottom left in Zoom toolbar. </li> 
					<li>Click the “Video Settings” menu item to open the video settings dialog </li>
					<li>Here you can select your camera and preview your video and chabge other video settings.</li>
				</ol>
			</div> <!-- /col -->
		</div> <!-- /row -->
	</div>