<header class = "content header-image">
        <div class="headline">
        <div class="container">
     	    <h1 class= "content-header" style = "font-size: 86px">Join Meeting </h1>
        </div>
    </div>
</header>
<div class = contentsection-container>
	<div id = "content-text3"> 
		<p>To join a Zoom meeting you will need a link to the meeting, or a Meeting ID.</p>  
		<p><b>With a Zoom link:</b></p>

		<p> Click on Zoom link. If Zoom app is installed, your browser will take you directly to the active Zoom meeting. If not, go to step <a href = "/contentsection/1/">Download and Install. </a></p>
		<p><b>From the Zoom Application:</b></p>
		<p>Another way to join the meeting is: </p>
		<ol>
			<li>Open Zoom App</li>
			<li>Click on Join button</li>
			<li>Fill in the Join Meeting dialog
				<ul>
					<li><code>Meeting ID: <em> Enter the meeting ID here.</em></code> </li> 
					<li><code>Your Name: <em>Enter the name that will identify your site, such as patient name or ID.* </em></code>
					</li>
				</ul>
			</li>  
		</ol>
	</div>
	<h3>Join with Telephone</h3>
	<div id = "content-text5">
		<p>If you are using telephone for audio instead of the computer:</p>
		<ol>
			<li> On Audio Options dialog select the Phone Call tab </li>
			<li> Dial one of the phone numbers indicated </li>
			<li> Enter the Meeting id followed by # </li>
			<li> Enter Participant id followed by # </li>
		</ol>

	</div></div>
