
<!-- Full Width Image Header -->
<header class = "content header-image">
	<img src = "/images/content3.jpg" id = "content-header-image">
	<h1 class= "content-header" style = "font-size: 5rem; text-align:center">Course Overview </h1>
    </div>
</header>
<div class = contentsection-container>
	<div id = "content-text10">
				<div class="row">
			<div class="col-md-4">
			 <img src="/icons/perspective-icon.png" width="250" >
			</div>
			<div class="col-md-8">
				<h3 class = "content-overview">Using Zoom</h3>
				<b class = "content-overview" >In this tutorial, </b> you will...
				
				<ul class = "content-overview">
					<li><h4>Download and install the Zoom application.</h4>Learn how to download and install the Zoom Desktop Application</li>
					<li><h4>Join Meeting</h4>Learn to join two ways to join a zoom meeting in progress</li>
					<li><h4>Zoom Toolbar</h4>Navigate Zoom's menu</li>
					<li><h4>Settings</h4>Accessing audio and video settings</li>
					<li><h4>Troubleshooting</h4>Common problems and solutions</li>
				</ul>
				<p class = "content-overview"> In order to have a successful meeting, don't forget to test and troubleshoot your audio and video!</p>
				<p class = "content-overview">For additional information visit the Zoom's Help Center resources:</p>
				<a class = "content-overview content-link" href="https://support.zoom.us/hc/en-us">https://support.zoom.us/hc/en-us</a>
			</div> <!-- /col -->
		</div> <!-- /row -->
	</div>
</div>

